@font-face {
  font-family: "SmileySans";
  src: url("./assets/SmileySans.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
  
html, body {
  font-family: 'SmileySans', sans-serif;
}